<%= bootstrap_form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <%= render 'shared/alert', locals: {message: "Couldn't create job" }  %>
  <% end %>
  <div class="form-group">
    <%= form.text_field :title,  placeholder: 'Job Title', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.text_area :description ,  placeholder: 'Job Description', class: 'form-control' %>
  </div>
  <%= form.hidden_field :employer_id, value: job.employer_id %>
  <div class="form-group">
    <%= form.submit "Submit Job", class: "btn btn-primary btn-block btn-lg"  %>
  </div>
<% end %>
